{% extends 'layout.html.twig' %}

{% block content %}

	<section>
		<div class="container pt-5">
			<div class="row">
				<div class="col-lg-2 text-center">
					<img class="avatar" src="images/avatar_femme.jpg" alt="avatar de femme">
				</div>
				<div class="col-lg-10 text-center">
					<h1 class="titre">Saliha Ichou</h1>
					<p class="titre">Etudiante développeuse Php/Symfony chez OpenClassrooms</p>
                </div>
            </div>
		</div>
	</section>

	<section class="section2">
        <div class="container pt-10">
			<h1>Bienvenue sur mon blog</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi magni voluptas excepturi molestias suscipit natus, explicabo voluptatum ipsa numquam reprehenderit saepe nostrum expedita quam repellat nesciunt in et nulla perspiciatis.</p>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum facilis distinctio, in, possimus hic excepturi modi, aliquid repellat numquam quam quod. Maiores blanditiis repudiandae debitis quo nesciunt impedit odit provident?</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea similique natus doloremque tempora autem ipsa tenetur laborum eaque vero rem aliquid enim consectetur, eius obcaecati sequi sapiente nesciunt harum nobis.</p>
			<P>
				<a class="btn btn-danger btn-lg rounded mt-5" role="button" href="/documents/cv_developpeuse_junior_php_symfony.pdf" download>Télécharger mon CV</a>
			</P>
        </div>
	</section>

	{% endblock %}
